pip>=22.2.2
torch
torchvision
pandas
pytorch-lightning
tabulate
tqdm
pillow
lightly
tqdm
label-studio
notebook
jupyterlab
matplotlib
seaborn
ipywidgets
boto3
pyprojroot
scikit-learn
opencv-python
wandb
